<html>
<body>
  <!-- TODO: better page -->
  <h1>IYIYUN 404</h1>
  <p>
    <img src="<%= img %>"/>
  </p>
  <p>
    <span>姓名：</span>
    <span><%= name %></span>
  </p>
  <p>
    <span>姓名：</span>
    <span><%= name %></sapan>
  </p>
  <p>
    <span>性别：</span>
    <span><%= gender %></sapan>
  </p>
  <p>
    <span>联系方式：</span>
    <span><%= mobile %></sapan>
  </p>
  <p>
    <span>出生日期：</span>
    <span><%= birthday %></sapan>
  </p>
  <p>
    <span>失踪时间：</span>
    <span><%= losttime %></sapan>
  </p>
  <p>
    <span>详情描述：</span>
    <span><%= description %></sapan>
  </p>
</body>
</html>
